.dispatching-banner{
    height: 500px;
    background-image: url(img/20190709235805.png);
    background-position: center 0;
    min-width:1200px;
}
.dispatching-content{
    width: 1200px;
    margin:0 auto;
}
.coffee-list {
     display:flex;
     list-style:none;
     flex-wrap: wrap;
}
.coffee-list li{
    width: 300px;
    height: 355px;
    margin-top:30px;
    padding : 0 36px;
    box-sizing:border-box;
}
.coffee-list li img{
    width: 100%;
}
.coffee-list li p{
    text-align: center;
    margin-bottom:8px;
}
.coffee-list li p:first-of-type a:hover{
    color:#BB9772;
}
.coffee-list li p:last-of-type a{
    font-size: 12px;
    color:#BB9772;
}
button.book{
    border:0;
    background: #684029;
    width:136px;
}