@media screen and (max-width:1599px){  
    .detail-box{
        width: 1050px;
        margin:0 auto;
    }
    .detail-header .top-picture{
        display:inline-block;   
        width:924px;  
  }
  @media (min-width:1600px){
      .detail-box{
        width: 1200px;
        margin:0 auto;
    }
    .detail-header .top-picture{
        display:inline-block;   
        width:1088px;  
      }
      .options-right{
        width: 630px;
        display: inline-block;
        margin-top: 20px;     
        margin-left:80px;
        position: relative;
    } 
    .options-right{
        width: 500px;
        display: inline-block;
        margin-top: 20px;     
        margin-left:61px;
        position: relative;
    }
  }
    .detail-header{
        position:relative;
    }
 
    .detail-header .top-picture img{
         width:100%;       
    }
    .detail-header .top-thumb{
        display:inline-block;
        width:90px;
        position:absolute;
        right:0;
        bottom:0;
    }
    .detail-header .top-thumb img{
        width:90px;
        box-sizing: border-box;
        margin-top:20px;
    }
    .detail-header .top-thumb img:hover{
     border:1px solid #684029;
    }
    .options{
        border-bottom: 1px solid #D8D8D8;
        padding-bottom:30px;
        margin-bottom:15px;
    }
    .options-left{
        width: 484px;
        display:inline-block;
        vertical-align:top;
    }
    .options-left h2{
        color:#684029;
        font-size:20px;
        font-weight:normal;
        margin-top:20px;
    }
    a.sm-button{
        display: inline-block;
        border:1px solid #D5BFA7;
        border-radius:10px;
        font-size:12px;
        padding-left:10px;
        padding-right:10px;;
        color: #D5BFA7;
        margin-right:6px;
    }
    .options-left p:first-of-type{
        font-size: 12px;
        color:red;
        margin-bottom:20px;
        margin-top:5px;
    }
    .options-left .pcicon{
        height: 50px;
        line-height:
    }
    .options-left .pcicon img{
      width: 50px;
      height: 50px;
      vertical-align:middle;
    }
    .options-left .pcicon {
        color:#684029;
    }
    .options-left p:not(:first-child){
        color:#684029;
        font-size: 12px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .options-left p:nth-of-type(5),.options-left p:nth-of-type(6){
      color:red;
    }
    .options-left .term i{
     width: 19px;
     height: 20px;
     background-image: url(../img/icon.png);
     display: inline-block;
     background-position:-118px -2px;
     background-size:240px;
     margin:20px 20px;
     vertical-align: middle;
    }
    .options-left .sweetness img{
        vertical-align: middle;
        margin:0 20px;
        width: 20px;;
    }
    @media (min-width:1600px){
    .options-right{
        width: 630px;
        display: inline-block;
        margin-top: 20px;     
        margin-left:80px;
        position: relative;
    }
   }
   @media (max-width:1599px){
      .options-right{
        width: 500px;
        display: inline-block;
        margin-top: 20px;     
        margin-left:61px;
        position: relative;
    }
   }

    .options-right-top img{
        width: 300px;
        vertical-align:-15px;
    }
    .options-right-top{
        margin-bottom: 15px;
    }
    .options-right-top .unit_price{
        font-size:26px ;
        color: #C69C6D;
        margin-left: 30px;
    }
    .options-right-top .pound{
        font-size:18px ;
        color: #C69C6D;
    }
    .options-right .weight_time{
        width: 280px;
    }

    .options-right>.weight_time>p{
        font-size: 12px;
        color:#684029;
        padding-left:20px;
    }
    .options-right>.weight_time>p>i{
        width: 25px;
        height: 25px;
        display: inline-block;
        margin:0 10px;
        vertical-align: middle;
        background-image: url(../img/icon.png);
        background-size: 310px 120px;
    }
    .options-right>.weight_time>p:first-of-type>i{
        background-position: -210px -5px;
    }
    .options-right>.weight_time>p:nth-of-type(2)>i{
      background-position: -235px -5px;
    }
    .options-right>.weight_time>p:nth-of-type(3)>i{
      background-position: -260px -5px;
    }
    .options-right>.weight_time>p:nth-of-type(4)>i{
      background-position: -285px -5px;
    }
    .options-right .size{
        margin-top:30px;
        margin-bottom:15px;
    }
    .options-right .size span{
        font-size: 12px;
        color:#684029;
    }
    .options-right .size ul{
       list-style: none;
      margin-left:15px;
      display: inline-block;
    }
    .options-right .size ul>li{
      display:inline-block;
      border: 1px solid #e7e0dd;
      color:#684029;
      font-size: 12px;
      width: 60px;
      height: 30px;
      padding:0 5px;
      line-height: 30px;
      text-align: center;
      margin-right: 15px;
      box-sizing: border-box;
      position:relative;
    }
    .options-right .size ul>li.active{
        border: 1px solid #684029;
    }
    .options-right .size ul>li:hover{
        color:#BB9772;
    }
    .options-right .size ul>li i.active{
        width: 10px;
        height: 10px;
        background-image: url(../img/icon.png);
        background-size: 310px 120px;
        background-position: 0 -40px;
        position:absolute;
        top:0px;
        left:0px;
     }
    .options-right .swop{
         margin-bottom:15px;
     }
    .options-right .swop span{
      font-size: 12px;
        color:#684029;
    }
    .options-right .swop a{
        width: 42px;
        height: 42px;
        display: inline-block;
        vertical-align: middle;
        margin-left:15px;
        margin-right:10px;
        border:1px solid #684029;
        position: relative;
    }
    .options-right .swop a img{
        width: 100%;
    }
    .options-right .swop a i{
        width: 10px;
        height: 10px;
        background-image: url(../img/icon.png);
        background-size: 310px 120px;
        background-position: 0 -40px;
        position:absolute;
        left:0px;
        top:0px;
    }
    .options button{
        width: 167px;
        height: 30px;
        line-height: 30px;
        font-size:13px;
        border:0;
    }
    button.buy{
        background: #F4F4F4;
        color:#7A5844;
    }
    button.shopping_cart{
        background:#684029;
        color:#fff;
        margin-left:10px;
    }
    .describe img{
        width: 100%;
    }