  
   	 body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
            margin:0;padding:0;font-size: 14px;
	}

/* 底部样式*/
    .footer{
		 width: 100%;
		 background-color: rgb(51,51,51);
		 font-size:10px;
		 color:#9a9a9a;
		 padding-top:50px;
		 min-width:1200px;
		}
		.footer{
		 text-align:center;
		}
		.footer-logo img{
		width: 96px;
		height: 36px;
		margin:0 auto;
		display:block;
		}
		.footer-nav{
		 margin-top:25px;
		}
    .footer-nav a{
		  color:#9a9a9a;
			margin:50px;
			color:#fff;
			font-size:12px;
		}
		.footer-icon a{
		  width: 50px;
			height: 50px;
			border-radius:50%;
			background-color: #464646;
			display:inline-block;
			text-align:center;
			vertical-align:middle;
			line-height:50px;
			color:#fff;
			font-size:16px;
			margin:25px;

		}
    .footer-icon img{
		  width: 30px;
			height: 30px;
			margin-top:10px;
		}
    .footer-text p{
		font-size:10px ;
		font-weight:bold;
		}
		.footer-text span{
		 display:block;
		 font-size:10px;
		}
		.footer-copyright{
		font-size: 12px;
		height:46px;
		line-height:46px;
		border-top:1px solid #616161;
        margin-top:15px;
		}