.home-content{  width: 1200px;  margin:0 auto;box-sizing:border-box;}
       .directory ul{
           width: 1100px;
           display: flex;
           justify-content:space-between;
           list-style:none;
           margin:26px auto 0px;
       }
       ul{
           list-style:none;
       }
       .directory ul li{
           width: 200px;
           height: 100px;
       }
       .directory ul li a{
           display: block;
           /*height: 100px;        ;*/
           box-shadow:0 2px 6px 0 rgba(0,0,0,0.06)
       }
       .directory ul li a img{
           display:block;
           border-radius:8px;
       }
       .home-module{
           /*background: yellow;*/
           padding:50px;
       box-sizing:border-box;
       }
       .home-module .title{
           font-size:26px;
           color:#724228;
       }
       .home-module .title span{
           margin-left:6px;
           color: #8E5D43;
           font-size: 14px;
       }
       .banner{
           width: 1100px;
           height: 250px;
           margin:25px auto;
       }
       .banner>a{
           display: block;
       }
       .banner>a>img{
           display: block;
       }
       .module-cakelist ul{
           width: 1100px;
           margin:0 auto;
           display:flex;
           justify-content:space-between;
       }
       .module-cakelist ul li{
           width:263px;
       }
       .module-cakelist ul li img{
           background: #fafafa ;
           transition: all .5s ;
       }
       .module-cakelist ul li img:hover{
           transform: scale(1.05);
          box-shadow: 1px 1px 5px #ddd;
          border-radius:5px;
       }
       .module-cakelist ul li h2{
           color:#000;
           font-size:16px;
       }
       .module-cakelist ul li p{
           color: #616161;
           font-size: 14px;
           margin-top:5px;
           margin-bottom:5px;
           overflow: hidden;   /*  隐藏文字  */
           text-overflow:ellipsis;/*  显示...  */
           white-space:nowrap;   /*不换行*/
           /*width:100px*/
       }
      a.sm-button{
          display: inline-block;
          border:1px solid #D5BFA7;
          border-radius:10px;
          font-size:12px;
          padding-left:10px;
          padding-right:10px;;
          color: #D5BFA7;
          }
      .modulelist-price{
      border-top:1px dashed #D5BFA7;
          padding:10px 0;
          margin-top:10px;
          font-size: 14px;
          color: #D5BFA7;
      }
      .modulelist-car{
          float: right;
          background: #643E28;
          color: #fff;
          border:0;
          outline:0;
      }
      /* 活动门 */
      #module-activity .activity-content{
         padding-top:10px;
      }
      #module-activity .activity-a{
        width: 50%;
        margin-top:20px; 
        padding-left:10px;
        padding-right:10px;
        /* border-radius:10px; */
        box-sizing: border-box;
        display:inline-block;
      }
      #module-activity .activity-a img{
          width: 100%;
          border-radius:10px; 
      }
      /* 文章 */
      #module-article .article-content{
          display:flex;
          justify-content: space-between
      }
      #module-article .article-bg{
          border-top-left-radius:10px; 
          border-top-right-radius:10px; 
          /* background: pink; */
          width: 542px;
          height:345px;
          box-shadow:0 0 6px rgba(0,0,0,0.10);

      }
      #module-article .article-bg img{
          width: 100%;
          border-top-left-radius:10px;
          border-top-right-radius:10px;
          }
     #module-article .article-bg p:first-of-type{
         font-size:24px;
         margin-left:15px;
         margin-top:10px;
     }
     #module-article .article-bg p:last-of-type{
         font-size:14px;
         margin-left:15px;
         margin-top:20px;
         }