.home-content{  width: 1200px;  margin:0 auto;box-sizing:border-box;}
       .directory ul{
           width: 1100px;
           display: flex;
           justify-content:space-between;
           list-style:none;
           margin:26px auto 0px;
       }
       ul{
           list-style:none;
       }
       .directory ul li{
           width: 200px;
           height: 100px;
       }
       .directory ul li a{
           display: block;
           box-shadow:0 2px 6px 0 rgba(0,0,0,0.06)
       }
       .directory ul li a:hover{
    box-shadow:1px 2px 10px 0px rgba(0,0,0,0.3)
       }
       .directory ul li a img{
           display:block;
           border-radius:8px;
       }
       .home-module{
           /* background: yellow; */
           padding:50px;
       box-sizing:border-box;
       }
       .home-module .title{
           font-size:26px;
           color:#724228;
       }
       .home-module .title span{
           margin-left:6px;
           color: #8E5D43;
           font-size: 14px;
       }
       .banner{
           width: 1100px;
           height: 250px;
           margin:25px auto;
       }
       .banner>a{
           display: block;
       }
       .banner>a>img{
           display: block;
       }
       .module-cakelist>ul{
           width: 1100px;
           margin:0 auto;
           display:flex;
           justify-content:space-between;
       }
       .module-cakelist>ul>li{
           width:263px;
           position: relative;
       }
       .module-cakelist>ul>li img{
           background: #fafafa ;
           transition: all .5s ;
       }
       .module-cakelist>ul>li img:hover{
           transform: scale(1.05);
          box-shadow: 1px 1px 5px #ddd;
          border-radius:5px;
       }
       .module-cakelist>ul>li h2{
           color:#000;
           font-size:16px;
       }
       .module-cakelist>ul>li p{
           color: #616161;
           font-size: 14px;
           margin-top:5px;
           margin-bottom:5px;
           overflow: hidden;   /*  隐藏文字  */
           text-overflow:ellipsis;/*  显示...  */
           white-space:nowrap;   /*不换行*/
           /*width:100px*/
       }
      a.sm-button{
          display: inline-block;
          border:1px solid #D5BFA7;
          border-radius:10px;
          font-size:12px;
          padding-left:10px;
          padding-right:10px;;
          color: #D5BFA7;
          }
      .modulelist-price{
      border-top:1px dashed #D5BFA7;
          padding:10px 0;
          margin-top:10px;
          font-size: 14px;
          color: #D5BFA7;
      }
      .modulelist-car{
          height: 20px;
          float: right;
          background: #643E28;
          color: #fff;
          border:0;
          outline:0;
          font-size: 12px;
          padding: 0 10px;
          margin-right: 1px;
      }
      .module-cakelist .live_buy{
          background: #fafafa;
          padding: 12px;
          position: absolute;   
          left: 0;
          bottom: 0;    
          display: none;
          overflow: hidden;
      }
      .module-cakelist .live_buy.block{
          display:block;
      }
      .module-cakelist .live_buy ul>li{
        display:inline-block;
        border: 1px solid #e7e0dd;
        color:#684029;
        font-size: 12px;
        width: 60px;
        height: 30px;
        padding:0 5px;
        line-height: 30px;
        text-align: center;
        margin-right: 15px;
        box-sizing: border-box;
        position:relative;
      }
      .module-cakelist .live_buy ul>li:hover{
        color:#BB9772;
      }
      .module-cakelist .live_buy ul>li i.active{
        width: 10px;
        height: 10px;
        background-image: url(../img/icon.png);
        background-size: 310px 120px;
        background-position: 0 -40px;
        position:absolute;
        top:0px;
        left:0px;
      }
      .module-cakelist .live_buy p{
          color:#684029;
          font-size: 16px;
      }
      .module-cakelist .live_buy .buy{
          width: 114px;
          height: 30px;
          line-height: 30px;
          color: #7A5844;
          text-align:center;
          background: #fff;
          border: 0;
          outline:none; 
          margin-right: 6px;
          margin-top:18px;
      }
      .module-cakelist .live_buy .shopping_cart{
        width: 114px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        text-align:center;
        background: #684029;
        border: 0;
        outline:none;
        margin-top:18px;
      }
      .module-cakelist .cart_success{
          width: 100%;
          height: 109px;
          padding: 12px;
          display:none;
          background: #fafafa;
          text-align: center;
          position: absolute;
          bottom:0;
      }
      .module-cakelist .cart_success p>i{
        width: 25px;
        height: 25px;
        display: inline-block;
        background-image: url(../img/icon.png);
        background-position: -266px -40px;
        vertical-align: middle;
        background-size: 310px 120px;
        margin-right:10px;
      }
      .module-cakelist .cart_success p{
          padding: 8px;
          color: #B08C7E;
          margin-top: 20px;
      }
      .module-cakelist .cart_success a{
          background: #684029;
          font-size: 13px;
          width: 148px;
          height: 30px;
          color: #fff;
          display: block;
          text-align: center;
          line-height: 30px;
          margin:0 auto;
      }
      /* 活动门 */
      #module-activity .activity-content{
         padding-top:10px;
      }
      #module-activity .activity-a{
        width: 50%;
        margin-top:20px; 
        padding-left:10px;
        padding-right:10px;
        /* border-radius:10px; */
        box-sizing: border-box;
        display:inline-block;
      }
      #module-activity .activity-a img{
          width: 100%;
          border-radius:10px; 
      }
      /* 文章 */
      #module-article .article-content{
          display:flex;
          justify-content: space-between
      }
      #module-article .article-bg{
          border-top-left-radius:10px; 
          border-top-right-radius:10px; 
          /* background: pink; */
          width: 542px;
          height:345px;
          box-shadow:0 0 6px rgba(0,0,0,0.10);

      }
      #module-article .article-bg img{
          width: 100%;
          border-top-left-radius:10px;
          border-top-right-radius:10px;
          }
     #module-article .article-bg p:first-of-type{
         font-size:24px;
         margin-left:15px;
         margin-top:10px;
     }
     #module-article .article-bg p:last-of-type{
         font-size:14px;
         margin-left:15px;
         margin-top:20px;
         }
         /* 轮播图 */
     #carousel{
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
     }
      #ul-imgs{
        list-style: none;
        width: 4800px;    
     }
     #ul-imgs.transition{
         transition: all .5s lienar;
     }
     #ul-imgs>li{
        float: left;
         width: 1200px;
     }
     #ul-imgs img{
         width: 100%;
     }
     #ul-idxs{
         width: 100px;
         margin: o auto;
         position: absolute;
         bottom: 25px;
         left: 50%;
         margin-left:-50px;
     }
     #ul-idxs>li{
         float: left;
         width: 10px;
         height: 10px;
         background: #fff;
         border-radius:5px;
         margin: 0 5px;
         cursor: pointer;
     }
     #ul-idxs>li.active{
         background: blue;
     }
     #btn-left,#btn-right{
         width: 60px;
         height: 100%;
         position: absolute;
         top: 0;
         background-repeat: no-repeat;
         background-position: center;
         cursor: pointer;
     }
     #btn-left{
         left: 20px;
         background-image: url(../img/left_ar.png);
         background-size: 30px;
     }
     #btn-right{
         right: 20px;
         background-image: url(../img/right_ar.png);
         background-size: 30px;
     }
     #btn-left:hover,#btn-right:hover{
         background-size: 40px;
     }